<!--
 * @Author: KokoTa
 * @Date: 2020-11-13 15:09:10
 * @LastEditTime: 2020-11-19 10:06:57
 * @LastEditors: KokoTa
 * @Description: 
 * @FilePath: /uni-wx-be/html/test.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Websocket及其他功能的测试</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <script src="./chat.js"></script>
  <script src="./util.js"></script>
  <style>
    button {
      display: block;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>初始化</h1>
    <button @click="connect('测试测试6', 15)">测试测试6 连接</button>
    <button @click="connect('测试测试7', 16)">测试测试7 连接</button>
    <button @click="connect('测5', 14)">测试5 连接</button>
    <h3>用户状态 - {{ chat && chat.isOnline ? '已连接' : '未连接' }}</h3>
    <h1>单聊测试</h1>
    <button @click="sendMessage({ from_name: '测试测试6', from_id: 15, to_name: '测试测试7', to_id: 16 })">
      测试测试6 连接的情况下发送消息给 测试测试7
    </button>
    <button @click="sendMessage({ from_name: '测试测试7', from_id: 16, to_name: '测试测试6', to_id: 15 })">
      测试测试7 连接的情况下发送消息给 测试测试6
    </button>
    <button @click="getOfflineMessage">
      测试测试7 获取 测试测试6 发送的离线消息
    </button>
    <h1>群聊测试</h1>
    <button @click="createGroup([14, 16])">
      测试测试6 创建群聊
    </button>
    <button @click="sendMessage({ from_name: '测试测试6', from_id: 15, chat_type: 'group' })">
      测试测试6 测试测试6创建群聊后发送群消息
    </button>
    <button @click="sendMessage({ from_name: '测试测试7', from_id: 16, chat_type: 'group' })">
      测试测试7 测试测试6创建群聊后发送群消息
    </button>
    <button @click="sendMessage({ from_name: '测5', from_id: 14, chat_type: 'group' })">
      测5 测试测试6创建群聊后发送群消息
    </button>
    <div class="content">
      <p>单聊记录</p>
      <hr>
      <div v-for="(item, index) in (chat && chat.chatList) || []" :key="index">
        {{ item.from_name }} -> {{ item.data }} -> {{ item.to_name }}
      </div>
      <p>群聊记录</p>
      <hr>
      <div v-for="(item, index) in (chat && chat.groupChatList) || []" :key="index">
        {{ item.from_name }} -> {{ item.data }} -> {{ item.to_name }}
      </div>
    </div>
  </div>

  <script>
    // 测试测试6(id 为 15)，测试测试7(id 为 16)，测5(id 为 14)
    new Vue({
      el: '#app',
      data: {
        chat: null,
        isOnline: false,
        token: ''
      },
      methods: {
        async connect(username) {
          axios.post('http://localhost:7001/api/login', {
            username,
            password: 112233
          }).then((res) => {
            const userInfo = res.data.data
            this.chat = new Chat(userInfo)
            this.chat.connect()
            this.token = userInfo.token
          })
        },
        async sendMessage({ from_name, from_id, to_name, to_id, chat_type = 'user' }) {
          this.chat.chatType = chat_type
          // 单聊我们是直接指定对象的，但是群聊 id 不是固定的，所以测试群聊的前提是先创建群聊
          if (chat_type === 'user') this.chat.toUserDetail = { to_id }
          // 模拟消息
          let message = {
            type: 'text',
            data: randomString(10)
          }
          // 对于前端来说，发出去的数据不管成不成功，一般都直接先渲染，后续再根据情况加上发送状态
          // 这里为了简便，选择了等待发送成功后接收消息了再渲染
          this.chat.send(message)
          console.log('发送出的消息: ', message)
        },
        async createGroup(friendIds) {
          // 和单聊不同，单聊已经知道了对方的 ID 信息了，但是群聊是不知情的，所以创建后，每个群聊成员都要从 socket 中获取群聊 ID
          await axios.post('http://localhost:7001/api/ws/createGroup', {
            ids: friendIds
          }, {
            headers: {
              token: this.token
            }
          })
        },
        async getOfflineMessage() {
          const res = await axios.get('http://localhost:7001/api/ws/getOfflineMessage?from_id=15&chat_type=user', {
            headers: {
              token: this.token
            }
          })
          if (res.data.code === 0) {
            const messages = res.data.data.map((item) => {
              return JSON.parse(item)
            })
            if (messages.length) {
              this.chat.chatList = this.chat.chatList.concat(messages)
              this.chat.chatList.sort((a, b) => {
                return a.created_at - b.created_at
              })
            }
          }
        }
      }
    })
  </script>
</body>

</html>